<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contact Administrator</title>
	<script type="text/javascript" src="js/contact.js"></script>
	<link href="{SITE_TEMPLATE}css/global.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
	</div>
	<div id="survey">
		<div id="heading">
		</div>
		
		<div id="content">
  				 <h1>Contact Administrator</h1>
			Your inquiry has been sucessfully submitted as follows: <br />
			<br />
			Subject: {CATEGORY}<br />
			Name: {NAME}<br />
			Email address: {EMAIL}<br />
			Content: {COMMENTS}
   		</div>
		
		<div id="footing">
		</div>
	</div>

</body>
</html>
