<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" language="javascript" src="{SITE_HTMLROOT}js/edit_vars.js"></script>
<script type="text/javascript" language="javascript" src="{SITE_HTMLROOT}js/edit_drag.js"></script>
<script type="text/javascript" language="javascript" src="{SITE_HTMLROOT}js/edit_size.js"></script>
<script type="text/javascript" language="javascript" src="{SITE_HTMLROOT}js/main.js"></script>
<link href="{SITE_TEMPLATE}css/global.css" rel="stylesheet" type="text/css" />
<link href="{SITE_TEMPLATE}css/edit.css" rel="stylesheet" type="text/css" />
</head>

<body onload="init(); editInit();">
	<div id="header">
	</div>
	
	<div id="outer">
	
		<form action="" method="post" onsubmit="xml.value=escape(xml.innerHTML);">
		
			<div id="left_toolbox">
				<input name="save" value="Save" type="submit" />
				<input name="view" value="View" type="submit" />
				<input name="manage" value="Manage" type="submit" />
			</div>
			{ERROR}<br />
			
			<textarea id="Main_XML" name="xml" style="display:none;"></textarea>
				
			<div id="survey">
			
				<div id="heading">
					<h2>Survey</h2>
					Name: <input type="text" name="name" value="{SURVEY_NAME}" />
				</div>
				
				<div id="content">
			
					<div id="Main">
						{INPUTS}
					</div>
	
				</div>
				<div id="footing">
				</div>
				
			</div>
			
		</form>
		
		<div id="right_toolbox">
			{INPUT_TOOLS}
		</div>
	
	</div>
	
	<div id="resize" style="display:block; height:1px; width:1px;">
	</div>
	<div id="placeholder">
	</div>
	<div id="r_nw" style="cursor:nw-resize;"></div>
	<div id="r_w" style="cursor:w-resize;"></div>
	<div id="r_sw" style="cursor:sw-resize;"></div>
	<div id="r_n" style="cursor:n-resize;"></div>
	<div id="r_s" style="cursor:s-resize;"></div>
	<div id="r_ne" style="cursor:ne-resize;"></div>
	<div id="r_e" style="cursor:e-resize;"></div>
	<div id="r_se" style="cursor:se-resize;"></div>

</body>
</html>
