/* This defines whow a document looks on a screen.*/

body {
	font-family: Verdana, Aria, sans-serif;
	font-size: 90%;
	font-weight: normal;
	color: #340D0E;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-left: 15px;
}

/* Start the xhtml tag deffinitions*/
p, ol, ul, li, td, th, dd, dl, dt, h1, h2, h3 {
	font-family: Verdana, Aria, sans-serif;
	font-size: 100%;
}
blockquote {
	margin-left: 25px;
}
cite {
	font-size: 105%;
	font-style: italic;
}
em {
	font-style: italic;
}
h1 {
	font-size: 190%;
	font-weight: bold;
	color: #BE8304;
}
h2 {
	font-size: 160%;
	font-weight: bold;
	color: #B4457B;
}
h3 {
	font-size: 130%;
	font-weight: bold;
	color: #BE8304;

}
hr {
	color: #214365;
	height: 1px;
}
image {
	padding: 10px;
}
strong {
	font-weight: bold;
}

/* Table Deffinitions*/
table {
	width: 100%;
	border-bottom: 2px solid #3399CC;
	border-left: 2px solid #3399CC;
}
caption {
	visibility: hidden;
	text-align: left;
	padding-bottom: 10px;
	font-weight: bold;
}
th {
	font-weight: bold;
	background-color: #B2DDFF;
	margin: 0px;
	padding: 10px;
	border-top: 2px solid #3399CC;
	border-right: 2px solid #3399CC;
	color: #003366;
}
td {
	margin: 0px;
	padding: 4px;
	background-color: #FFFFFF;
	vertical-align: top;
	border-top: 2px solid #3399CC;
	border-right: 2px solid #3399CC;
}

/* Link Deffinitions */
a {
	text-decoration: underline;
	font-weight: bold;
}
a:link {
	color: #AA2F1B;
}
a:visited {
	color: #348192;
}
a:hover {
	color: #CA422C;
}
a:active {
	color: #796E6D;
}

/* Definition Lists*/
dl {
	padding: 4px;
	margin-left: 10px;
}
dt {
	font-size: 105%;
	font-weight: bold;
}
dd {
	padding-bottom: 5px;
}

/* Custom Classes */
.accent {
	font-weight: bold;
	color: #003366;
}
.hidden {
	visibility: hidden;
	margin: 0px;
	padding: 0px;
}
.vis {
	visibility: visible;
}

