<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" language="javascript" src="{SITE_HTMLROOT}js/edit_vars.js"></script>
<script type="text/javascript" language="javascript" src="{SITE_HTMLROOT}js/main.js"></script>
<link href="{SITE_TEMPLATE}css/global.css" rel="stylesheet" type="text/css" />
<link href="{SITE_TEMPLATE}css/edit.css" rel="stylesheet" type="text/css" />
</head>

<body onload="editInit();">
	<div id="header">
	</div>
	
	<div id="outer">
	
			
		<div id="survey">
		
			<div id="heading">
				<h2>{SURVEY_NAME}</h2>
			</div>
			
			<div id="content">
		
				<div id="Main">
					{INPUTS}
				</div>

			</div>
			<div id="footing" style="text-align:center;">
				<form action="" method="post" onsubmit="xml.value=escape(xml.innerHTML);">
				
					<input name="submit" value="Submit" type="submit" />
					
					<textarea id="Main_XML" name="xml" style="display:none;"></textarea>
					
				</form>
			</div>
				
		</div>
	
	</div>

</body>
</html>
